{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-export-extensions",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
