.paperContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 24px auto;
}

.error {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 16px;
  color: red;
}
