.taskWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  margin: 0 0 8px;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: left;
}

.dueDate {
  color: red;
  min-width: 150px;
  font-size: 1.3rem;
}

.enumeration {
  border: 1px solid gray;
  border-radius: 50%;
  display: inline-block;
  min-width: 16px;
  text-align: center;
  margin: 8px;
  font-weight: bold;
}
